body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    align-items: center;
    background-color: #a8c9e7;
    min-height: 100vh;
}

.card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 21.4285714286em;
    margin: auto;
    padding: 15px;
    border-radius: 15px;
    background-color: white;
}

.card-container img {
    width: 100%;
    border-radius: 10px;
}

.content {
    text-align: center;
    padding: 10px;
    font-family: Poppins, Helvetica, Arial, sans-serif;

}

.content h2 {
    font-size: 24px;
    color: #162246;
}
.content p {
    font-weight: 600;
    color: #A4A4A4;
}

.attribution {
    margin-bottom: 10px;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}